//===============================================================================
// VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: hsl(220, 20, 20);
$link: hsl(220,100,40);
$header: $ink;

$body-font: "museo-sans", serif;

$wrap-width: 768px;

$red: hsl(350, 77, 55);