//===============================================================================
// IMPORTS
//===============================================================================
// VARIABLES: define mixins for later use
@import "_variables";

// MIXINS: define mixins for later use
@import "_mixins";

// FONTS: @font-face rules 
@import "_fonts";

// NORMALIZE: normalize.css from ttp://necolas.github.io/normalize.css/
@import "_normalize.scss";

// THIRD-PARTY: styles for JS libs etc

// ELEMENTS: styles for standard html elements
@import "_elements";

// HELPERS: helper classes. clear-fix etc 
@import "_helpers";

// LAYOUT: grids, wraps etc
@import "_layout";

// TYPOGRAPHY:
@import "_typography";

// SHARED-STYLES: styles used across multiple pages
@import "_shared";

// GLOBAL-ELEMENTS: elements that are used on every page. Eg headers & footers
@import "_header";
@import "_footer";

// PAGES: styles per page

// BROWSER-FIXES: styles per page
@import "_browser-fixes";

// MEDIA-QUERIES:
@import "_media-queries";

//===============================================================================
// DEV-STYLES
//===============================================================================
// playground for development
img.logo{
  margin: 0 20px 0 5px;
  width: 100px;
}

h1.logo{
  font-size: 50px;
  line-height: .9;
  padding-top: 24px;
  margin-bottom: 80px;
}

.data{
  font-size: 24px;
  font-weight: 300;
  color: saturate($ink, 30);
  height: 509px;
  overflow: hidden;
  line-height: 1.6;
  margin-bottom: 80px;

  li{
    @extend .clear-fix;
    padding: 0 10px;

    &:nth-child(odd){
      background-color: hsl(200 ,100, 97);
    }
  }
}

.name,
.site,
.time{
  font-weight: 600;
}

.time{
  float: right;
}

footer{
  height: 140px;
  border-top: 1px solid desaturate(lighten($ink, 70), 20);
  padding-top: 25px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 768px - 80;
}

div.mini-logo{
  width: 240px;
}

img.mini-logo{
  width: 34px;
  margin: -9px 4px 0 0;
}

h1.mini-logo{
  font-size: 18px;
  line-height: .9;
  color: desaturate(lighten($ink, 30), 20);
  margin-bottom: 20px;
}

.footer-text{
  text-align: right;
  padding-left: 200px;
  font-size: 12px;
}

[class*="panel"]{
  position: absolute;
  top: 40px;
  background-color: $paper;
  width: 768px - 80;
  height: 700px;
  transition: left .3s;


  &.off-left{
    left: 768px;
  }
}

.panel-1{
  left: 40px;
}

.panel-2{
  left: 40px;

  .logo{
    width: 400px;
    margin-left: ((768px - 480) / 2);
    margin-top: 30px;
  }

  h1{
    color: #E53451;
    text-align: center;
    font-size: 90px;
    margin-top: 30px;
  }


}